body{
    background: black;
}
#name-holder{
    height: 20px;
    color: white;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}
  
.array-container {
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
    width: 99%;
    height: 690px; /* Set a fixed height for the container */
    border: 4px solid #ddd; 
}
  
.array-bar {
    width: 50px;
    display: inline-block;
    margin: 0 1px;
}
  
button{
    margin: 0 5px;
}

  